body {
  font-family: "Gentium Book Plus", serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}
#myName {
  color: blueviolet;
}
.fistOne {
  width: 50%;
}
.firstTwo {
  width: 50%;
  text-align: left;
}
.firstThree {
  width: 50%;
  margin-right: 1%;
  box-shadow: 5px 5px 30px gray;
  padding-left: 10px;
  border-radius: 10px;
}
.secondOne {
  width: 50%;
  text-align: center;
}
.secondTwo {
  width: 50%;
}
.secondThree {
  margin-left: 1%;
  width: 50%;
  box-shadow: 5px 5px 30px gray;
  padding-left: 10px;
  border-radius: 10px;
}

#image1 {
  height: 100%;
  width: 85%;
}
#image2 {
  height: 100%;
  width: 65%;
}

.Upper-Section {
  display: flex;
  padding: 2% 5%;
  background-image: url(img/top-banner.png);
  background-repeat: no-repeat;
}
.Lower-Section {
  display: flex;
  padding: 2% 5%;
  background-image: url(img/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.Lower-Section2 {
  display: flex;
  padding: 2% 5%;
}

.hireme-button {
  text-decoration: none;
  background-image: linear-gradient(blueviolet, purple);
  padding: 10px 40px;
  border-radius: 10px;
  color: whitesmoke;
  font-weight: 100;
}
.experience-area {
  background-image: url(img/exp-bg.png);
  background-repeat: no-repeat;
}
